{#
/**
 * @file
 *
 * Default theme implementation for signifyd case.
 *
 * Available variables:
 * - content: Items for the content of the signifyd case.
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - view_mode: The signifyd_case view mode used.
 * - signifyd_case: The signifyd case object.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  view_mode ? 'signifyd-case--view-mode--' ~ view_mode|clean_class,
  'clearfix',
]
%}
<div{{ attributes.addClass(classes) }}>
  <p><strong>{{ 'Signifyd Case'|t }}: {{ case_id }}</strong></p>
  <a href="{{ case_url }}">{{ 'View in console'|t }}</a>
  <ul>
    <li>{{ 'Id'|t }}: {{ case_id}}</li>
    <li>{{ 'Score'|t }}: {{ case_score }}</li>
    <li>{{ 'Guarantee'|t }}: {{ case_guarantee }}</li>
    <li>{{ 'Decision'|t }}: {{ case_decision }}</li>
    <li>{{ 'Status'|t }}: {{ case_status }}</li>
  </ul>
</div>
